/* LOG IN */
.login{
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #fbfbfb;
  min-height: 100%;
  margin-top: 5%;
}

.container {
  position: relative;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),
              0 10px 10px rgba(0,0,0,0.22);
  display: flex;
}

.sign-up, .sign-in {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  transition: all 0.6s ease-in-out;
  background: #fff;
}

.sign-in {
  left: 0;
  z-index: 2;
}

.sign-up {
  left: 0;
  opacity: 0;
  z-index: 1;
}

form{
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

h1{
  font-weight: bold;
  margin: 5;
}

input{
  background: #eee;
  padding: 12px 15px;
  margin: 8px 15px;
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
}

a{
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

button{
    color: #fff;
    background: #b0984a;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 55px;
    margin: 20px;
    border-radius: 20px;
    border: 1px solid #b0984a;
    outline: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: ease-in;
    transform: 80ms;
    cursor: pointer;
}

button:active{
    transform: scale(0.90);
}

#signIn, #signUp{
    background-color: transparent;
    border: 2px solid #fff;
}

.container.right-panel-active .sign-in {
  transform: translateX(100%);
}

.container.right-panel-active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.overlay {
  background: linear-gradient(to right, #ffcf31, #b0984a);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
  display: flex;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-left, .overlay-right {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
}

.overlay-left {
  left: 0;
  transform: translateX(-20%);

}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.social-container{
    margin: 20px;
}

.social-container a {
    height: 40px;
    width: 40px;
    margin: 0 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 50%;
}